body{
    margin-top: 35px;
    margin-left: 230px;
}
div.heart1{
    position: relative;
    transform: rotate(45deg);
    background: brown;
    width: 120px;
    height: 200px;
    border-radius: 200px 200px 0 0;
    top: 200px;
    left: 57px;
}
div.heart2{
    position: relative;
    background: brown;
    width: 120px;
    height: 200px;
    transform: rotate(-45deg);
    border-radius: 200px 200px 0 0;
}





/* body{
    margin-left: 100px;
    margin-top: 250px;
}
div.heart1{
    position: relative;
    transform: rotate(45deg);
}
div.heart1::before{
    content: "";
    position: absolute;
    background: rgb(196, 28, 62);
    height: 160px;
    width: 100px;
    transform: rotate(-90deg);
    border-radius: 200px 200px 0 0;
}
div.heart2{
    position: relative;
    transform: rotate(-45deg);
}
div.heart2::before{
    content: "";
    position: absolute;
    background: rgb(196, 28, 62);
    height: 160px;
    width: 100px;
    transform: rotate(90deg);
    border-radius: 200px 200px 0 0;
    bottom: 105px;
    left: 168px;
} */